* {
    box-sizing:border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-weight:400;
}

.intro {
width: 100%;
/* display: flex;
flex-direction: column; */
height: 100vh;
max-height: 500px;
padding: 20px;
background-image: url('https://images.unsplash.com/photo-1561715276-a2d087060f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
background-size: cover;
background-position: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    line-height: 3rem;
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 5rem;
    font-size: 2rem;
}

button {
background-color: transparent;
display:inline-block;
padding:0.5em 3em;
border:0.16em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
text-decoration:none;
text-transform:uppercase;
font-weight:400;
color:#FFFFFF;
text-align:center;
transition: all 0.15s;
}

button:hover{
color:#DDDDDD;
border-color:#DDDDDD;
}

button:active {
color:#BBBBBB;
border-color:#BBBBBB;
}

.container-displayer {
    height: 50vh;
    display: none;
}

h2 {
    font-size: 23px;
    text-transform: uppercase;
    color: white;
}

.coupon {
text-align: center;
display: flex;
align-items: center;
justify-content: center;
color: white;
height: 220px;
margin: 20px auto;
box-shadow: 11px 13px 40px -15px rgba(0,0,0,0.6);
border-radius: 5px;
background: rgb(188,144,93);
background: linear-gradient(142deg, rgba(188,144,93,1) 12%, rgba(71,103,131,1) 85%);
}

.code-displayer {
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
}

.coupon-content {
    margin: auto 0;
}
